#bookResults {
    margin-top: 70px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#searchDiv {
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.SearchName {
	font-family: arial;
}

.SearchDiv {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-right: 40px;
    margin-left: 40px;
    align-content: stretch;
    align-items: center;
}

#searchLayout {
	margin-left: 2%;
	margin-right: 2%;
}

.SearchImg {
	width: 250px;
    height: 160px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 22px;
}

#searchInput {
    padding-left: 20px;
    width: 300px;
    height: 35px;
    font-size: 18px;
}

#searchBtn {
    width: 70px;
    height: 41px;
    background: #2196F3;
    color: white;
    border-color: #2196F3;
}

#searchBtn:hover {
	background: #0b7dda;
}

#imgNotFound {
    width: 16%;
    margin-top: 50px;
    margin-left: 42%;
}

#divImgNotFound {
    display: none;
}

#imgSearch {
    width: 16%;
    margin-top: 50px;
    margin-left: 42%;
}

#contentImgSearch {
    width: 20%;
    font-size: 18px;
    font-family: arial;
    margin-left: 40%;
}

#contentImgNotFound {
    width: 23%;
    font-size: 18px;
    font-family: arial;
    margin-left: 38.5%;
}





































