.BookImg {
  margin-left: 18%;
  margin-right: 4%;
  width: 18%;
  height: 170px;
  border-radius: 5px;
  cursor: pointer;
}

.Book {
  margin-top: 30px;
  display: flex;
}

.BookContainer {
  width: 40%;
}

.BookName {
  font-family: Arial;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.BookContent {
  font-family: Arial;
  font-size: 15px;
}

.BookDiv {
  margin-top: 45px;
  display: flex;
}

.pagination {
  margin-top: 50px;
  display: flex;
  float: right;
  margin-right: 20%;
} 

.PageNumber {
  padding: 0px 10px 0px 10px;
  border-radius: 4px;
  margin-right: 2px;
}

.PageNumber {
  background-color: #4B95E6;
  color: white;
  cursor: pointer;
}
