body {
  background-color: #F1EFE9;
}

button:hover {
  background-color: red;
  color: white;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}










































